:root{
    --cor-padrao: #000;
    --cor-clara: #fff;
    --cor-destaque: #ff7418;

    --max-width: 1920px;

    --cor-servico1: #87cefa ;
    --cor-servico2: #ffb6c1 ;
    
    --cor-footer: #90ee90;
}